build/html/pages/for-guests-page.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><link rel="stylesheet" href="../../css/reset.css"/><link rel="stylesheet" href="../../css/styles.css"/><title>Observatory/for-guests</title></head><body><header class="header"><div class="container"><nav class="header__navigation"><figure class="logo"><a href="index.html"><img src="../../img/emblem.png"/></a></figure><div class="burger-menu"><span class="burger-menu__line1"></span><span class="burger-menu__line2"></span><span class="burger-menu__line3"></span></div><ul class="header__menu disNone1024"><li class="header__menu-item"><a href="index.html">Головна</a></li><li class="header__menu-item"><a class="header__dropdown-link header__dropdown-link_first" href="#">Про обсерваторію</a><ul class="header__dropdown header__dropdown_first"><li class="header__dropdown-item"><a class="header__dropdown-link_second" href="#">Історія </a><ul class="header__dropdown header__dropdown_second"><li class="header__dropdown-item"><a href="#">Морська обсерваторія (1821-1912)</a></li><li class="header__dropdown-item"><a href="#">Миколаївське відділення Пулково (1912-1991)</a></li></ul></li><li class="header__dropdown-item"><a class="header__dropdown-link_second" href="#">Діяльність</a><ul class="header__dropdown header__dropdown_second"><li class="header__dropdown-item"><a href="#">Морська обсерваторія (1821-1912)</a></li><li class="header__dropdown-item"><a href="#">Миколаївське відділення Пулково (1912-1991)</a></li></ul></li><li class="header__dropdown-item"><a href="#">Співробітники</a></li><li class="header__dropdown-item"><a href="#">Наші колеги</a></li><li class="header__dropdown-item"><a href="#">Річний план закупівель</a></li><li class="header__dropdown-item"><a href="#">Фотогалерея</a></li><li class="header__dropdown-item"><a class="header__dropdown-link_second" href="#">Блог</a><ul class="header__dropdown header__dropdown_second"><li class="header__dropdown-item"><a href="#">Новини</a></li><li class="header__dropdown-item"><a href="#">Питання/Відповідь                       </a></li><li class="header__dropdown-item"><a href="#">Статті                      </a></li></ul></li></ul></li><li class="header__menu-item"><a class="header__dropdown-link header__dropdown-link_first" href="#">Екскурсії</a><ul class="header__dropdown header__dropdown_first"><li class="header__dropdown-item"><a href="excursions-page-school.html">Шкільна</a></li><li class="header__dropdown-item"><a href="#">Группова</a></li><li class="header__dropdown-item"><a href="#">Індивідуальна</a></li><li class="header__dropdown-item"><a href="#">Індивідуальна для гостей міста</a></li></ul></li><li class="header__menu-item"><a href="#">Віртуальна обсерваторія</a></li><li class="header__menu-item"><a href="#">Контакти</a></li></ul><div class="header__search"><svg width="18" height="20" viewbox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.747 13.0531C11.8515 12.9369 11.9756 12.8447 12.1122 12.7818C12.2487 12.7189 12.3951 12.6865 12.543 12.6865C12.6908 12.6865 12.8372 12.7189 12.9738 12.7818C13.1103 12.8447 13.2344 12.9369 13.3389 13.0531L17.6701 17.8655C17.8812 18.0999 17.9998 18.4178 17.9999 18.7494C18 19.081 17.8816 19.399 17.6706 19.6336C17.4597 19.8681 17.1735 20 16.8751 20.0001C16.5767 20.0002 16.2904 19.8686 16.0793 19.6342L11.7482 14.8218C11.6436 14.7057 11.5606 14.5679 11.504 14.4161C11.4474 14.2644 11.4182 14.1017 11.4182 13.9375C11.4182 13.7732 11.4474 13.6106 11.504 13.4588C11.5606 13.3071 11.6436 13.1692 11.7482 13.0531H11.747Z" fill="#DDDDDD"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.31238 14.9996C8.12492 14.9996 8.92951 14.8218 9.6802 14.4763C10.4309 14.1308 11.113 13.6244 11.6875 12.986C12.2621 12.3477 12.7178 11.5898 13.0288 10.7557C13.3397 9.9216 13.4998 9.02762 13.4998 8.12481C13.4998 7.22199 13.3397 6.32801 13.0288 5.49392C12.7178 4.65983 12.2621 3.90195 11.6875 3.26356C11.113 2.62518 10.4309 2.11878 9.6802 1.77329C8.92951 1.42779 8.12492 1.24997 7.31238 1.24997C5.67138 1.24997 4.09759 1.97428 2.93723 3.26356C1.77687 4.55285 1.12498 6.30149 1.12498 8.12481C1.12498 9.94813 1.77687 11.6968 2.93723 12.986C4.09759 14.2753 5.67138 14.9996 7.31238 14.9996ZM14.6248 8.12481C14.6248 10.2796 13.8544 12.3462 12.483 13.8699C11.1117 15.3936 9.25175 16.2496 7.31238 16.2496C5.37302 16.2496 3.51308 15.3936 2.14175 13.8699C0.770409 12.3462 0 10.2796 0 8.12481C0 5.96997 0.770409 3.9034 2.14175 2.3797C3.51308 0.856004 5.37302 0 7.31238 0C9.25175 0 11.1117 0.856004 12.483 2.3797C13.8544 3.9034 14.6248 5.96997 14.6248 8.12481Z" fill="#DDDDDD"></path></svg></div></nav><span class="header__sub-title">Науково-дослідний інститут</span><h1 class="header__title">Миколаївська астрономічна обсерваторія</h1><span class="header__sub-title">Міністерство освіти і науки</span></div></header><section class="information"><div class="container information__container"><span class="page-name information__page-name">Головна / Екскурсії / Інформація для гостей міста</span><h2 class="information__title">Інформація для гостей міста</h2><!--RESIDENCE--><div class="information__content"><figure class="information__img"><img src="../../img/for-guests-page/residence.png"/></figure><div class="information__description"><p class="information__description-title">Проживання<p class="description information__description"> Відвідуючи Миколаїв на вихідні або в уікенд ви з легкістюзнайдете місце де залишитись відповідно до Ваших вподобань.
Тут представлено найближче житло від Обсерваторії.</p></p><button class="details-btn">Детальніше</button></div></div><div class="information__content information__content-reverse"><div class="information__description"><p class="information__description-title">Пам’ятки міста<p class="description information__description"> Звісно, що на Обсерваторії цікаві місця, які простонеобхідно відвідати, - не закінчуються.  Що ще можна побачити будучи в Миколаєві?
Цікаві місця для прогулянки вихіного дня.</p></p><button class="details-btn">Детальніше</button></div><figure class="information__img"><img src="../../img/for-guests-page/attractions.png"/></figure></div><!--FOOD--><div class="information__content"><figure class="information__img"><img src="../../img/for-guests-page/food.png"/></figure><div class="information__description"><p class="information__description-title">Їжа<p class="description information__description"> Завітавши до Миколаєва, не забудьте про кулінарнусторону міста. Цікаві, популярні заклади міста зі смачною кухнею, які точно Вас здивують.</p></p><button class="details-btn">Детальніше</button></div></div></div></section><footer class="footer"><div class="container footer__container"><div class="footer__social-wrapper"><figure class="logo"><img src="../../img/emblem.png"/></figure><div class="social-list"><a class="social-list__icon" href="#"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve"><path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803          c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654          c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246          c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path></svg></a><a class="social-list__icon" href="#"><svg viewbox="0 0 511 511.9" xmlns="http://www.w3.org/2000/svg"><path d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5          1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219          34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562          6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124          36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343          11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657          7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5          1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343          0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219          27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0"></path><path d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0          216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219          85.300781-85.300781 85.300781zm0 0"></path><path d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219          30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0"></path></svg></a><a class="social-list__icon" href="#"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 98.566 98.566" style="enable-background:new 0 0 98.566 98.566;" xml:space="preserve"><path d="M60.401,20.996c2.751,0.389,5.445,1.08,8.107,1.898c4.647,1.431,9.032,3.419,13.156,5.998         c0.287,0.178,0.67,0.291,1.008,0.291c4.844,0.02,9.686,0.013,14.526,0.017c0.39,0,0.778,0.041,1.167,0.063         c0,0.095,0.014,0.135-0.002,0.157c-0.226,0.348-0.455,0.691-0.682,1.038c-1.643,2.52-3.047,5.156-3.876,8.07         c-0.09,0.313-0.109,0.575,0.103,0.882c4.312,6.192,5.688,12.99,3.886,20.318c-1.58,6.427-5.264,11.438-10.862,14.986         c-4.001,2.537-8.421,3.745-13.143,3.771c-1.984,0.012-3.958-0.255-5.896-0.757c-4.722-1.225-8.77-3.579-12.106-7.144         c-0.44-0.468-0.854-0.957-1.323-1.486c-1.764,2.629-3.5,5.215-5.278,7.869c-1.771-2.646-3.483-5.207-5.191-7.758         c-0.118,0.062-0.152,0.069-0.175,0.091c-0.039,0.032-0.072,0.071-0.103,0.108c-4.035,4.765-9.111,7.686-15.295,8.663         c-3.44,0.545-6.847,0.349-10.188-0.572c-4.735-1.301-8.759-3.799-12.01-7.485c-3.177-3.604-5.153-7.788-5.895-12.545         c-0.849-4.44,0.185-8.721,0.443-9.76c0.748-3.02,2.052-5.793,3.842-8.343c0.126-0.181,0.17-0.501,0.11-0.717         c-0.73-2.677-1.988-5.112-3.461-7.444c-0.374-0.593-0.822-1.142-1.236-1.711c0-0.065,0-0.132,0-0.198         c0.083,0.01,0.165,0.026,0.246,0.026c4.956,0.002,9.911,0.004,14.867-0.006c0.216,0,0.456-0.089,0.64-0.207         c3.482-2.234,7.192-4.004,11.09-5.382c2.811-0.992,5.681-1.766,8.608-2.333c2.834-0.548,5.683-0.934,8.562-1.124         C51.059,19.73,56.669,20.473,60.401,20.996z M54.188,53.727c0,10.883,8.83,19.774,19.674,19.732         c10.885-0.039,19.675-8.68,19.667-19.683c-0.008-11.339-9.206-19.863-20.089-19.642C62.696,34.357,54.286,43.017,54.188,53.727z         M24.677,34.059C14.091,33.967,4.861,42.802,5.046,54.056c0.172,10.495,8.822,19.392,19.851,19.297         c10.784-0.092,19.452-8.898,19.472-19.562C44.386,42.835,35.612,34.059,24.677,34.059z M25.653,28.925         c5.98,0.365,11.233,2.449,15.671,6.485c4.429,4.028,7.024,9.053,7.967,14.962c0.97-5.839,3.497-10.817,7.843-14.805         c4.353-3.992,9.536-6.087,15.418-6.53c-6.98-3.103-14.34-4.421-21.916-4.567C42.026,24.301,33.651,25.57,25.653,28.925z"></path><path d="M73.822,41.311c6.735-0.011,12.19,5.415,12.19,12.143c0,6.754-5.362,11.975-11.688,12.216         c-7.065,0.271-12.718-5.358-12.716-12.186C61.614,46.578,67.307,41.197,73.822,41.311z M81.766,53.484         c-0.003-4.39-3.552-7.958-7.912-7.958c-4.41,0-8,3.549-8.018,7.926c-0.016,4.358,3.592,7.984,7.961,7.996         C78.173,61.465,81.768,57.866,81.766,53.484z"></path><path d="M24.417,41.311c6.731-0.007,12.194,5.429,12.177,12.156c-0.019,6.809-5.386,11.916-11.601,12.199         c-7.093,0.324-12.816-5.33-12.803-12.195C12.204,46.516,17.936,41.195,24.417,41.311z M32.352,53.457         c-0.013-4.417-3.585-7.938-8.044-7.93c-4.301,0.008-7.905,3.638-7.895,7.955c0.011,4.367,3.611,7.958,7.992,7.97         C28.759,61.462,32.363,57.836,32.352,53.457z"></path><path d="M73.828,49.443c2.232-0.002,4.062,1.829,4.041,4.048c-0.022,2.224-1.821,4.026-4.016,4.027         c-2.26,0-4.077-1.786-4.072-3.999C69.785,51.223,71.55,49.445,73.828,49.443z"></path><path d="M24.396,49.407c2.266-0.002,4.087,1.808,4.096,4.067c0.009,2.24-1.829,4.079-4.084,4.084         c-2.309,0.005-4.09-1.779-4.088-4.1C20.32,51.179,22.097,49.41,24.396,49.407z"></path></svg></a></div></div><ul class="footer__menu"><li class="footer__menu-item"><a href="#">Головна</a></li><li class="footer__menu-item"><a href="#">Про обсерваторію</a></li><li class="footer__menu-item"><a href="#">Екскурсії</a></li><li class="footer__menu-item"><a href="#">Віртуальна обсерваторія</a></li></ul><div class="footer__contacts"><span>Контакти:</span><div class="footer__contacts-info"><svg width="25" height="29" viewbox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.8565 5.94153L18.9741 0.141511C18.7827 -0.0471705 18.4724 -0.0471705 18.281 0.141511L16.8104 1.59152C16.619 1.78026 16.619 2.08621 16.8104 2.27495L17.9344 3.38324L16.5447 4.75349C14.8751 3.54407 12.8561 2.89441 10.7844 2.8999C5.37239 2.90601 0.986585 7.23035 0.980396 12.5666V15.4666H0V19.3333H0.980396V29H20.5883V19.3333H21.5687V15.4666H20.5883V12.5666C20.5862 11.4989 20.404 10.439 20.0491 9.43024L22.0589 7.44857L22.6927 8.07497C22.8842 8.26366 23.1945 8.26366 23.3859 8.07497L24.8565 6.62497C25.0478 6.43623 25.0478 6.13028 24.8565 5.94153ZM1.96079 12.5666C1.96649 7.76401 5.91357 3.87219 10.7844 3.86657C12.5962 3.8612 14.3646 4.4128 15.8437 5.44466L11.5618 9.6666L15.6863 13.7334L19.2751 10.1949C19.4965 10.9665 19.6085 11.7647 19.6079 12.5666V15.4666H1.96079V12.5666ZM7.84317 28.0333H4.90198V24.1666H7.84317V28.0333ZM19.6079 28.0333H8.82357V23.6833C8.82357 23.4164 8.60408 23.2 8.33337 23.2H4.41178C4.14107 23.2 3.92159 23.4164 3.92159 23.6833V28.0333H1.96079V19.3333H19.6079V28.0333ZM20.5883 16.4333V18.3666H0.980396V16.4333H20.5883ZM15.6863 12.3665L12.9481 9.6666L18.6275 4.06668L21.3658 6.76659L15.6863 12.3665ZM23.0393 7.04982L17.8501 1.93323L18.6275 1.16667L23.8168 6.28325L23.0393 7.04982Z" fill="white"></path></svg><span>м.Миколаїв,вул.Обсерваторна 1,</span></div><div class="footer__contacts-info"><svg width="23" height="23" viewbox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.3965 17.7437L17.7412 14.639C17.1504 14.2481 16.3585 14.3767 15.9218 14.9345L14.5657 16.6781C14.3915 16.9079 14.0747 16.9746 13.8226 16.8345L13.5646 16.6923C12.7095 16.2262 11.6456 15.6459 9.50189 13.5013C7.35822 11.3567 6.7768 10.2919 6.31071 9.4383L6.16927 9.18034C6.0273 8.92826 6.09269 8.6101 6.32257 8.43442L8.06492 7.07869C8.62241 6.64186 8.75118 5.85013 8.36082 5.25914L5.25628 0.603526C4.85622 0.00170956 4.05359 -0.178952 3.43425 0.193376L1.48758 1.36283C0.875922 1.72244 0.427174 2.30486 0.235431 2.98802C-0.465561 5.54235 0.0617886 9.95073 6.55527 16.4454C11.7207 21.6108 15.5661 22.9999 18.2092 22.9999C18.8175 23.0025 19.4234 22.9234 20.0106 22.7646C20.6939 22.5731 21.2763 22.1243 21.6357 21.5124L22.8062 19.5667C23.1791 18.9472 22.9985 18.144 22.3965 17.7437ZM22.1458 19.1734L20.978 21.1202C20.7199 21.5619 20.301 21.8866 19.809 22.0264C17.451 22.6738 13.3316 22.1375 7.09758 15.9031C0.863571 9.66865 0.327418 5.54927 0.974781 3.19083C1.11474 2.69816 1.43983 2.27867 1.88198 2.02021L3.82865 0.852285C4.09738 0.690578 4.44574 0.768961 4.61934 1.03012L6.30577 3.56221L7.72123 5.68533C7.89074 5.94168 7.83504 6.28526 7.59322 6.47495L5.85046 7.83067C5.3201 8.23624 5.16865 8.97007 5.49518 9.55249L5.63357 9.80394C6.12341 10.7024 6.73242 11.8201 8.95581 14.0433C11.1792 16.2664 12.2965 16.8755 13.1945 17.3654L13.4463 17.5041C14.0286 17.8306 14.7624 17.6792 15.1679 17.1488L16.5236 15.4059C16.7133 15.1642 17.0567 15.1086 17.3131 15.2779L21.968 18.3827C22.2293 18.5562 22.3077 18.9047 22.1458 19.1734Z" fill="white"></path></svg><a href="tel:380512477014">380 (512) 477014</a></div></div></div></footer><script src="../../js/scripts.js"></script></body></html>

#src_build/html/for-guests-page.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/styles.css")
        title Observatory/for-guests
    body
        include components/_header
        section.information
            .container.information__container
                span.page-name.information__page-name Головна / Екскурсії / Інформація для гостей міста
                h2.information__title Інформація для гостей міста
                //RESIDENCE
                .information__content
                    figure.information__img
                        img(src="../../img/for-guests-page/residence.png")
                    .information__description
                        p.information__description-title Проживання
                            p.description.information__description  Відвідуючи Миколаїв на вихідні або в уікенд ви з легкістю
                                | знайдете місце де залишитись відповідно до Ваших вподобань.
                                | Тут представлено найближче житло від Обсерваторії.
                        button.details-btn Детальніше
                .information__content.information__content-reverse
                    .information__description
                        p.information__description-title Пам’ятки міста
                            p.description.information__description  Звісно, що на Обсерваторії цікаві місця, які просто
                                | необхідно відвідати, - не закінчуються.  Що ще можна побачити будучи в Миколаєві?
                                | Цікаві місця для прогулянки вихіного дня.
                        button.details-btn Детальніше
                    figure.information__img
                        img(src="../../img/for-guests-page/attractions.png")
                //FOOD
                .information__content
                    figure.information__img
                        img(src="../../img/for-guests-page/food.png")
                    .information__description
                        p.information__description-title Їжа
                            p.description.information__description  Завітавши до Миколаєва, не забудьте про кулінарну
                                | сторону міста. Цікаві, популярні заклади міста зі смачною кухнею, які точно Вас здивують.
                        button.details-btn Детальніше
        include components/_footer
        script(src="../../js/scripts.js")
